@import "reset";
@import "colors";

body {
  font: 16px/1 "Avenir";
  text-rendering: optimizeLegibility;
}

h1 {
  color: $blue-grey-600;
  margin: 128px 0;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
}
